.add {
    padding: 16px;
}
  
.addForm {
    display: flex;
    align-items: center;
}

.addInput {
    background: unset;
    border: unset;
    padding: 0 64px;
    flex: 1;
    border-bottom: 1px solid var(--main-black-color);
    outline: unset;
    font-family: 'Handlee', cursive;
    font-size: 16px;
    /* text-transform: lowercase; */
}
  
.addBtn {
    font-size: 1.8rem;
    font-family: 'Handlee', cursive;
    padding: 16px;
    padding-right: unset;
    cursor: pointer;
    background: unset;
    border: unset;
    outline: unset;
}

.addBtn:active {
    text-shadow: 1px 1px 2px var(--main-black-color);
}
  