.todos {
    display: flex;
    flex-direction: column;
    min-height: 500px;
}
  
.todoPlaceholderText {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    padding: 16px;
    text-align: center;
}
  
.addButtonPlaceholderText {
    font-family: 'Handlee', cursive;
    font-size: 24px;
    font-weight: bold;
}